# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/

# Virtual Environment
.venv/
venv/
env/

# Model Files
*.pt
*.pth
*.weights
*.h5
*.pkl
models/*.pt
models/*.pth

# Input/Output Data
input/
runs/
tracker_stubs/
output_videos/*.mp4
output_videos/*.avi

# Machine Learning Artifacts
*.log
*.out

# IDE and Editor Files
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints/

# Miscellaneous
*.tmp
*.bak
*.backup
